.search_main{
    .input_music{
        text-align:center;
        input{
            margin: 5% 0 0 0;
            border: none;
            border-bottom: 1px solid #b7b7b7;
            color: #9b9595;
            padding: 4px;
        }
    }
}
