.flippy-front, .flippy-back {
  padding: 0 !important;
}

.ulBlock {
  display: flex;
  padding: 0 35px;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    width: 45%;
    height: 43px;
    padding: 0 15px;

    &:hover {
      background: rgb(233, 240, 245);

      p:nth-child(1) {
        text-decoration: line-through;
      }

      P:nth-child(2) {
        cursor: pointer;
      }
    }


    div {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}