.headerMenu {
  width: 100%;
  height: 47px;
  backdrop-filter: blur(5px);

  .navs {
    position: fixed;
    top: 0;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    z-index: 999;
    left: 50%;
    transform: translate(-50%);

    .logo {
      width: 100px;

      span {
        background-color: #e9f0f5;
      }
    }
  }
}
